body {
    background: #F6F1F1;
    padding: 10px;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    background: transparent;
}

header h1 {
    flex: 1;
    color: #000000;
}

header nav {
    flex: 1;
    position: fixed;
    right: 0;
    padding-top: 10px;
    padding-right: 35px;
}

header nav a {
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main form {
    width: 640px;
}

main table tr td {
    padding: 20px 45px;
    border-collapse: collapse;
}

input[type='text'],input[type='year'] {
    width: 300px;
    padding: 5px;
    border: 1px solid #000000;
}

input[type='submit'] {
    box-shadow: none;
    padding: 8px 30px;
    border-radius: 7px;
    margin-right: 5px;
    color: #F6F1F1;
    background: #19A7CE;
}
